<div class="declarations-container" *ngIf="jurisdictionCodes$ | async as jurisdictionCodes">
  <app-declaration *ngFor="let declaration of declarations"
                   [declaration]="declaration"
                   [jurisdictions]="jurisdictionCodes"
                   class="declaration-item"
                   (save)="onDeclarationSave($event)"
                   (toggleEdit)="onToggleEdit($event)"
                   (cancelEdit)="onCancelEdit($event)"
                   [isLocked]="declaration.isLocked"
                   [editMode]="declaration.isLocked"
                   [ngStyle]="{'flex-basis': calculateWidthFromNetMass(10, 40, declaration.netMass, 200)}"
  ></app-declaration>
</div>
